# Ignore build output
target/

# Ignore IDE files
.idea/
*.iml
*.ipr
*.iws

# Ignore environment variable files
*.env

# Ignore Maven and Gradle config files
*.log
*.jar
*.war
*.class
*.apk

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore the local Maven repository
~/.m2/repository/

# Ignore application config files
application.properties
application.yml

# Ignore other files generated during development
*.tmp
*.bak
*.swp

# Ignore test reports
target/surefire-reports/
target/failsafe-reports/
