.cinema-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cinema-buttons button {
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #A020F0;
    color: #A020F0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add a transition effect */
}

.cinema-buttons button:hover {
    background-color: #A020F0;
    color: #FFFFFF;
}

.showdates {
    margin-bottom: 20px;
    margin-top: 20px;
}

.showdates button {
    margin: 10;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #A020F0;
    color: #A020F0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.showdates button:hover {
    background-color: #A020F0;
    color: #FFFFFF;
}

.showdate-info{
    margin: 5px;
}



.showtime-group {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; allow wrapping if content overflows */
    /* gap: 10px; control spacing between elements */
    margin-bottom: 20px; /* Control spacing between each group */
    border: 1px solid #ddd; /* Add a border to each group to set it apart */
    padding: 10px; /* Add padding to each group */
    background-color: #f9f9f9; /* Add a background color to each group */
    border-radius: 5px; /* Add rounded corners */
    width: 650px;
}

.hall-info {

    display: flex;
    justify-content: space-between;
    /* align-items: center; vertical center alignment */
    gap: 10px; /* Control spacing between elements */
    padding: 5px;
}

.hall-info div {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.showtimes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow wrapping if content overflows */
    gap: 10px; /* Control spacing between buttons */
}

.showtime-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align */
    padding: 10px;
    border: 1px solid #A020F0;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add a transition effect */
}

.showtime-item:hover {
    background-color: #A020F0;
    color: #FFFFFF;
}

.showtime-row {
    display: flex;
    align-items: center;
    justify-content: space-around ;
    margin-bottom: 15px;
}

.showtimes-list {
    flex-basis: 70%; /* Control the width of the showtimes */
    display: flex;
    gap: 10px;
}